body {
    justify-content: center;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-size: cover;
    background-image: url("/background-dog.jpg");
}

#title {
    justify-content: center;
    align-items: center;
}