<h1>Vets</h1>
<p><li><a href="/vets/new">Register New Vet</a></li></p>

<% for vet in @vets %>
    <p>Name: <%= vet.name %></p>
    <p>Age: <%= vet.age %></p>
    <p>Qualifications: <%= vet.qualifications %></p>
    <hr/>
<% end %>