<h1>Register Vet</h1>

<form method="POST" action="/vets">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>

    <label for="age">Age:</label>
    <input type="number" name="age" id="age"/>

    <label for="qualifications">Qualifications:</label>
    <input type="text" name="qualifications" id="qualifications"/>

    <input type="submit" value="Register Vet">
</form>